<!-- <div class="row">
  <div class="col-12">
    <div class="alert alert-success" role="alert">
      Selected books: {{values}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
      <div class="col-lg-4 col-sm-12">
        <div class="form-group">
          <label>
            <strong>ngx-treeview</strong>
          </label>
          <ngx-treeview
            [config]="config"
            [items]="items"
            (filterChange)="onFilterChange($event)"
            (selectedChange)="values = $event">
          </ngx-treeview>
        </div>
      </div>
  </div>
  <div class="col">
      2nd column
  </div>
</div> -->
<div class="row">
  <div class="col-4">
    <div class="col-lg-12 col-sm-12">

      <div id="accordion">
        <div class="card"  *ngFor="let gameEl of games; let gIndex = index">
          <div class="card-header" id="heading{{gIndex}}">
            <h5 class="mb-0">
              <button class="btn btn-link"
                data-toggle="collapse" attr.data-target="#collapse{{gIndex}}"
                aria-expanded="true" attr.aria-controls="collapse{{gIndex}}"
                 (click)="setGameTitleIndex(gIndex)">
                {{gameEl.title}}
              </button>
            </h5>
          </div>

          <div id="collapse{{gIndex}}" class="collapse" attr.aria-labelledby="heading_{{gIndex}}" data-parent="#accordion">
            <div id="accordion{{gIndex}}" style="margin-left: 20px;">
              <div class="card">
                <div class="card-header" id="headingIns_{{gIndex}}">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapseIns_{{gIndex}}" aria-expanded="true"
                      attr.aria-controls="collapseIns_{{gIndex}}" (click)="setGameFolder('Installation')">
                      Installation
                    </button>
                  </h5>
                </div>

                    <div class="card" *ngFor="let gameElIns of gameEl.game_play_resources.installation; let insIndex = index">

                      <div id="collapseIns_{{gIndex}}" class="collapse" attr.aria-labelledby="headingIns_{{gIndex}}"
                        attr.data-parent="#accordion{{gIndex}}" (click)="setGameFolderFileIndex(insIndex)">
                        <div class="card-body">
                          {{gameElIns.file_name}} - {{gameElIns.type}}
                        </div>
                      </div>
                    </div>

            </div>
          </div>
        </div>

        <div id="collapse{{gIndex}}" class="collapse" attr.aria-labelledby="heading_{{gIndex}}" data-parent="#accordion">
          <div id="accordionRes{{gIndex}}" style="margin-left: 20px;">
            <div class="card">
              <div class="card-header" id="headingRes_{{gIndex}}">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse"
                  attr.data-target="#collapseRes_{{gIndex}}" aria-expanded="true"
                  attr.aria-controls="collapseRes_{{gIndex}}" (click)="setGameFolder('Resource Dependency')">
                    Resource Dependency
                  </button>
                </h5>
              </div>
        
              <div class="card" *ngFor="let gameElIns of gameEl.game_play_resources.resource_dependency; let insIndex = index">
        
                <div id="collapseRes_{{gIndex}}" class="collapse" attr.aria-labelledby="headingRes_{{gIndex}}" attr.data-parent="#accordionRes{{gIndex}}">
                  <div class="card-body" (click)="setGameFolderFileIndex(insIndex)">
                    {{gameElIns.file_name}} - {{gameElIns.type}}
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>
  <div class="col">
    <ul class="list-inline">
      <li class="list-inline-item" *ngIf="gameTitleIndex != null">
        <button type="button" class="btn btn-light">

        {{games[gameTitleIndex].title}} &nbsp;
        </button>
      </li>
      <li class="list-inline-item" *ngIf="gameFolder != null">
        <button type="button" class="btn btn-light">
        <i class="fa fa-angle-right"></i>
        </button> &nbsp;
        <button type="button" class="btn btn-light">
           {{gameFolder}}
        </button>
      </li>
    </ul>
    <div *ngIf="file != null">
      {{file.file_name}} -- {{file.type}}
    </div>
  </div>

</div>